.garage {
    float: left;
    height: 350px;
    padding: 50px;
    margin-left: 100px;
    text-align: left;
}

.text1 {
    color: white;
    font-family: leelawadee;
    text-align: left;
    font-size: 1.5em;
    padding: 10px;
    -webkit-margin-end: 100px;

}

.text2 {
    color: white;
    font-family: leelawadee;
    text-align: left;
    font-size: 1.5em;
    padding: 10px;
    -webkit-margin-end: 100px;

}

.h1 {
    color: white;
    font-family: leelawadee;
    text-align: left;
    padding-top: 50px;
    font-size: 2.5em;
    font-weight: normal;
}

@media only screen and (max-width: 600px) {
    .text1 {
        margin-left: 6vw;
        color: white;
        font-family: leelawadee;
        font-size: 4vw;
        width: 40vw;
        text-align: left;
        padding: 2vw;
    }

    .h1 {
        color: white;
        font-family: leelawadee;
        font-size: 5vw;
        text-align: left;
        margin-left: 6vw;
        padding: 2vw;
    }

    .text2 {
        color: white;
        font-family: leelawadee;
        font-size: 4vw;
        width: 90vw;
        margin-left: 6vw;
        text-align: left;
        padding: 2vw;
    }
    .garage{
        float: none;
        height: 40vw;
        position: absolute;
        padding: 2vw;
        margin-left: -12vw;
    }
}