.left {
    float: left;
    position: inherit;
    height: 60px;
    position: inherit;
    margin: -165px 0px 0px 20px;
}

.right {
    float: right;
    position: inherit;
    height: 100px;
    position: inherit;
    margin: 15px 0px 0px 20px;
}

.logo {
    float: left;
    position: inherit;
    height: 77px;
    position: inherit;
    margin: 35px 0px 0px 20px;
}

.signup {
    float: right;
    position: inherit;
    height: 100px;
    position: inherit;
    margin: 15px 0px 0px 20px;
}


.App-header {
    background-color: black;
    height: 150px;
    padding: 20px;
    color: white;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    filter: grayscale(100%);
    z-index: 2;
    position: absolute;
    border-top: solid 1px;
    border-top-color: white;
    border-bottom: solid 1px;
    border-bottom-color: white;
    width: 100%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
    border-top: solid 1px;
    border-top-color: white;
    z-index: 1;
}

.icon {
    padding: 10px 20px 20px 10px;
    height: 50px;
    width: 50px;
}


/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    margin: 0 20px;
    padding: 4px 3px;
    text-decoration: none;
    font-size: 30px;
}

.poster {
    height:56vh;
    margin-top: 8vh;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: black;
    background-color: #f2f2f2;
}

.App-header {
    background-color: black;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-header-mobile {
    background-color: black;
    height: 150px;
    padding: 20px;
    color: white;
}

video.fullscreen {
    position: fixed;
    filter: grayscale(100%);
    top: 80%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}


@media only screen and (max-width: 600px) {
    .poster {
        height: 45vh;
        margin-left:25vw;
    }

    .Header {
        width: 100vw;
    }


    .App-header {
        height: 20vw;
        border-bottom: solid 1px;
    }

    .App-title {
        font-size: 4vw;
        letter-spacing: 3vw;
        margin: 2vw 0vw 0vw 4vw;
    }

    .signup {
        float: right;
        height: 12vw;
        position: absolute;
        margin: -4vw 0vw 0vw 10vw;
    }

    .logo {
        float: none;
        height: 18vw;
        position: inherit;
        margin: -3vw 0vw 0vw 0vw;
    }

    .icon {
        padding: 1vw 5vw 2vw 2vw;
        height: 9vw;
        width: 9vw;
    }

    .footer {
        position: fixed;
        margin-top: 9vw;
    }

    .Home {
        width: fit-content;
    }
}

