.poster {
    size: 110vw;
}

.shows {
    display: inline-table;
}

.tableshows {
    width: 100%;
    margin-top: 2vw !important;
}
.tableshows tr, td {
    color: white;
    font-family: leelawadee;
    padding: 2vw;
    font-size: 2vw;
}

.pshows {
    font-family: leelawadee;
    color: white;
    margin-top: 10vw;
    font-size: 2vw;
}

@media only screen and (max-width: 600px) {
    .pshows {
        font-size: 3vw;
    }

    .tableshows tr, td {
        font-size: 3vw
    ;
    }
    }