.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  font-family: leelawadee;
  letter-spacing: 14px;
  font-weight: normal;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.left {
  float: left;
  position: inherit;
  height: 77px;
  position: inherit;
  margin: 30px 0px 0px 20px;
}

.right {
  float: right;
  position: inherit;
  height: 100px;
  position: inherit;
  margin: 15px 0px 0px 20px;
}
